defaults
    mode http
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend http_front
    bind *:80
    default_backend drupal_backend

backend drupal_backend
    balance roundrobin
    server jeremy_drupal1 jeremy_drupal1:80 check
    server jeremy_drupal2 jeremy_drupal2:80 check

listen stats
    bind *:8404
    stats enable
    stats uri /tfg_haproxy
    stats refresh 10s
    stats auth admin:admin
    stats admin if TRUE

